# App
PORT=3002
NODE_ENV=development

# Database (shared PostgreSQL, schema: orders)
DB_HOST=postgres
DB_PORT=5432
DB_USER=ecommerce
DB_PASS=ecommerce_pass
DB_NAME=ecommerce_db
DB_SCHEMA=orders

PRODUCTS_SERVICE_URL=http://products-service:3001
